/* Welcome to the CSS! 
   Made by stencylxd! (Leo Markley in this case) */

/* Basic website stuff! */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body, html { min-width: 1000px }
span { color: white; font-family: Arial }
p { color: white; font-family: Arial }
a { color: white; font-family: Arial; text-decoration: none }
.center { align-content: center; text-align: center }

/* Gallery stuff! */
.image-row { display: flex; flex-wrap: wrap; margin-top: 100px }
.image-column { flex: 50%; }
.image-column img { vertical-align: middle; width: 100%; }
@media screen and (max-width: 767px) { .image-column { flex: 75%; max-width: 75%; } }

/* About page stuff */
.about { font-size: 17px; user-select: none; margin-left: 40px; margin-top: 120px }
.aboutimage { float: left; margin-right: 20px; margin-bottom: 20px; border-radius: 7px; width: 50%; height: 50% }

/* Top navigation bar stuff! */
.sky-logo { position: relative; background-color: black; width: 10.5%; height: 10.5%; top: 7px; user-select: none; margin-bottom: 13px }
.dropdown { display: block; top: 25px; left: 30px; position: absolute; z-index: 1 }
.dropelement { display: block; background-color: grey; color: white; padding: 16px; font-size: 16px; border: none; user-select: none }
.dropdown-content { display: none; position: absolute; background-color: lightgrey; min-width: 200px }
.dropdown-content a { padding: 12px 16px; display: block; color: black }
.dropdown-content a:hover { background-color: darkgrey }
.dropdown:hover .dropdown-content { display: block }
.dropdown:hover .dropelement { background-color: grey }
.dropelement-2 { text-align: center; background-color: grey; display: block; color: white; padding: 12px 16px; font-size: 16px; border: none; user-select: none }
.main-container { position: fixed; background-color: black; top: 0; right: 0; left: 0; z-index: 10 }